<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="listenerClass.ListenerTest" />
		<listener class-name="listenerClass.RetryListener"/>
	</listeners>



	<test thread-count="5" name="Test Suite">
		<classes>
			<class name="testCases.Allmediany_SignUpPage_Test" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
